body,html { 
   /*To ensure the body covers 100% of the content seen on the screen*/
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 2rem;
  color: #81b2bd;
}

hr {
    margin: 20px auto;
    color: #0a8155;
    border: 3px solid #0a8155;
    max-width: 65px;
    opacity: 1;  
}

.btn{
  font-weight: 700;
  border-radius: 300px; /*make it round*/
  text-transform: uppercase; /*make it uppercase*/
}
.btn-xl{
  padding: 1rem 2rem; /*1 rem on the sides and 2 rem on the top and bottom*/
}

.btn-primary{
  background-color:#0a8155 ;
  border-color: #0a8155;
}
.btn-primary:hover{
  background-color: #2485ab;
  background-color: #2485ab;
  border-width: 4px;
}
.buffer{
  height: 12rem;
}
